/* ---------RESET ELEMENTS---------- */

html {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

*,
li,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


/* -------------------------------- */


/* ---------- NAVEGATION ---------- */

.dv-container-nav {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    height: 100%;
}

.nav-ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: white;
}

.link-contact {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: .8rem 1.5rem;
    border-radius: 5rem;
}

.link-contact a {
    color: black;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* ---------- END NAVEGATION ---------- */


/* --------------SECTION ---------------*/

header {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("/src/assets/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.sc-title {
    color: white;
    font-size: 4rem;
    text-align: center;
}


/*-------------- END SECTION --------------*/

.dv-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sc-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sc-atc-img {
    display: block;
    width: 100%;
    min-height: 100%;
}

.sc-atc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    text-align: justify;
    gap: 1rem;
}

.sc-atc-title {
    font-weight: bold;
    font-size: 3rem;
    color: rgba(40, 31, 61, 0.904);
}

.sc-atc-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102);
}

.sc-atc-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 5px solid rgb(255, 237, 157);
    width: max-content;
}

.sc-dv-container {
    display: block;
    position: relative;
}

.sc-dv-content {
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 10% 20%;
}

.sc-dv-title {
    font-size: 2rem;
    color: rgba(41, 49, 41, 0.795);
}

.sc-dv-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(41, 49, 41, 0.795);
    text-align: center;
}


/* ----------------- END ------------------- */


/* ----------------- TESTEMONIALS ------------------- */

.section-testmonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 10rem;
    background-color: rgb(247, 247, 247)
}

.sc-tm-title {
    color: rgb(182, 182, 182);
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-align: center;
}

.sc-tml-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sc-testmonials {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
}

.sc-tm-image {
    height: 5rem;
    border-radius: 50%;
}

.sc-tm-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 105, 105);
}

.sc-tml-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .8rem;
}

.sc-tml-pf-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.sc-tml-pf-cargo {
    color: rgb(54, 54, 54);
}


/* ----------------- END ------------------- */

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    .sc-article {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        text-align: center;
    }
    .sc-atc-content {
        text-align: center;
        align-items: center;
        gap: 2rem;
    }
    .sc-article:nth-child(1) .orderOne {
        order: 1;
    }
    .section-testmonials {
        padding: 2rem;
    }
    .sc-tm-text {
        font-size: 1.5rem;
    }
}